#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #4a4a4a;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px;
  transition: 0.8s;
}

li:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: whitesmoke;
  color: blueviolet;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.8s;
}

button:hover {
  background-color: blueviolet;
  color: whitesmoke;
}
.description-box {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
}